<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'index.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
</head>
<body>
<h1 id="title"><center>BayENG</center></h1>
<div class="search">
    <form id="searchform" action="{% url 'index' %}">
        <input
            placeholder="Search BayENG or type a URL" required =True
            name="search" type="search" id="searchinput" autocomplete="on" value="{{search}}">
        <button id="btn" type="submit">
           Search
        </button>
    </form>
</div>
<main>
    {% block content %}
    {% endblock %}

    {% block scripts %}
    {% endblock %}
</main>
</body>
<script src="{% static 'index.js' %}"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
         integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
         crossorigin="anonymous"></script>

</html>